/Retos semanales/RetoSemana1/nbproject/private/
/Retos semanales/RetoSemana1/build/
/Retos semanales/RetoSemana2/nbproject/private/
/Retos semanales/RetoSemana3/nbproject/private/
/Retos diarios/RetoDia2/nbproject/private/
/Retos diarios/RetoDia5/nbproject/private/
/Retos diarios/RetoDia3/nbproject/private/
/Retos diarios/RetoDia3/build/
/Retos diarios/RetoDia6/nbproject/private/
/Retos diarios/RetoDia7/nbproject/private/
/Retos diarios/RetoDia8/nbproject/private/
/Retos diarios/RetoDia9/nbproject/private/
/Retos diarios/RetoDia11/nbproject/private/
/Retos diarios/RetoDia12/nbproject/private/
/Retos diarios/RetoDia13/nbproject/private/
/Retos diarios/RetoDia14/nbproject/private/
/Retos diarios/JavaApplication51/nbproject/private/
/Retos diarios/RetoDia16/nbproject/private/