/Retos semanales/RetoSemana1/nbproject/private/
/Retos semanales/RetoSemana1/build/
/Retos semanales/RetoSemana2/nbproject/private/
/Retos semanales/RetoSemana3/nbproject/private/
/Retos diarios/RetoDia2/nbproject/private/
/Retos diarios/RetoDia5/nbproject/private/
/Retos diarios/RetoDia3/nbproject/private/
/Retos diarios/RetoDia3/build/
/Retos diarios/RetoDia6/nbproject/private/
/Retos diarios/RetoDia7/nbproject/private/